body {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}
tr, td {
    padding: 0px;
    margin:0px;
}
table {
    border-spacing: 0px;

    width: 100%;
}
.tasklist-container {
    background-color: #FFF;
    margin-top:20px;
    
    border-radius: 20px;
    
}


.right-column {
  
    position:relative;
    right: 100px;
    
    
}
.center-column{
    position:relative;
    border-left: 2px solid red; 
    border-right: 2px solid red; 
    width: 3px;
    z-index: 4;
    padding-left: 2px;
}
.left-column{
   
    z-index: 4;
    
    padding-right:20px;
    width: 20px;
    padding-left: 52px;
    
    
}

.paper-hole {
    position: relative;
    border-radius: 100%;
    background-color: black;
    z-index: 6;
    width: 25px;
    height: 25px;
    margin-bottom: 250px;
    
    
}
.paper-hole:first-child {
    margin-top: 20px;
}

.paper-hole:last-child {
    margin-bottom: 20px;
}
.task-list {
    font-size: 25px;
    list-style: disc;
    list-style-position:inside;
    padding:0;
}


.task-list button {
    height: 30px;
}

.tasklist-container li {
    border-bottom: 2px solid lightskyblue;
    padding-left: 100px;
    width: calc(800px - 100px);
    
}
.task-list span {
    margin-left:2%;
}


h1 {
    padding-left: 130px;
}

.tasklist-container li:first-child{
    border-bottom: 2px solid lightskyblue;
    border-top: 2px solid lightskyblue;
}
.bottom-container {
    background-color: gray;
    padding:10px;

    border-radius: 50px;
}
li button {
    visibility: hidden;
}
li:hover {
    background-color: rgba(175,175,175,0.5);    
}
li.finished:hover {
    background-color: rgba(61, 236, 0, 0.5);    
}

li:hover button {
    visibility: visible;
}
li button {
    float:right;
}
form button {
  visibility: visible;  
}
li:last-child:hover {
    background-color: rgba(0, 0, 0, 0);
}
li {
    /* height:25px; */
    /* vertical-align: center; */
}

li span{
    
    padding: 0 5px 0 5px;
}


/* BUTTON THAT LOOKS LIKE A RADIO */
/* .test {
    width: 14px;
    height: 14px;
    padding: 2px;
    
    background-color: white;
    border-radius: 50%;
    margin:unset;
    border: 2px solid rgb(0, 184, 0);
}
.test {
    background-image: linear-gradient(rgb(0, 184, 0), rgb(0, 184, 0)), 
        linear-gradient(white, white);
    background-clip: content-box, padding-box;

}
.test:hover {
    background-image: linear-gradient(green, green),
        linear-gradient(white, white);
    border: 2px solid rgb(green);

} */

li {
    list-style: none;
}
input {
    border:none;
    height:30px;
    margin: 0;
    width: 600px;
    font-size: 20px;
}
input:focus {
    border:none;
    outline:none;
}

.finish-list {
    background: rgb(169, 231, 147);
    border-radius: 20px;
}
.remove-list {
    background-color: #DDD;
    border-radius: 20px;

}
.finish-list-container {
    background-color:rgba(61, 236, 0, 1);
    border-radius: 20px;
}
.finish-list-container h4 { 
    margin-left: 15px;
}

.remove-list-container {
    background-color:#BBB;
    border-radius: 20px;
}
.remove-list-container h4 { 
    margin-left: 15px;
}

.bottom-list li{
    height: 23px;
    
}
.finished {
    background-color:rgba(61, 236, 0, 1);
    margin-top: 6px;
    border-radius: 20px;
}
.finish-list button {
    height: 18px;
    font-size: 0.7em;
    margin-right: 5px;
}
.remove-list button {
    height: 18px;
    font-size: 0.7em;
    margin-right: 5px;
}